body {
  background: rgb(34, 35, 38);
  color: white;

  font-family: 'IBM Plex Mono', monospace;

  font-size: 1.25em;
}

.container {
  max-width: 960px;
}

.logo {
  margin-top: 40px;
  max-width: 80%;
  max-height: 250px;
}

a {
  color: white;
  font-style: italic;
}
a:hover {
  color: white;
}

.content-block {
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-block > p {
  text-align: left;
}

.content-block > h1 {
  margin-bottom: 30px;
}

.content-block > ul {
  list-style-type: none;
}

.carousel {
  width: 75%;
  margin: 0 auto;
}


.download {
  margin-bottom: 50px;
}

.download > a > i {
  font-size: 3em;
  margin-bottom: 20px;
}

.team {
  margin-bottom: 20px;
  font-size: 1.0em;
}

.team > img {
  width: 50%;
  margin-bottom: 10px;
}

.team > h2 {
  font-size: 1.2em;
}

.team > .roles {
  margin-top: 10px;
  font-size: .9em;
}

.footer {
  color: rgb(34, 35, 38);
  background-color: white;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-link {
  color: rgb(34, 35, 38);
}
.footer-link:hover{
  color: rgb(34, 35, 38);
}



/* Youtube Reflexive */
/* thank you, https://www.webatude.com/how-to-make-youtube-videos-reflexive-and-mobile-friendly/ */
.vid-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 35px; height: 0; overflow: hidden;
    margin: auto;
}


.vid-container iframe,
.vid-container object,
.vid-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ibm-plex-mono-100 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Thin'), local('IBMPlexMono-Thin'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-200 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono ExtraLight'), local('IBMPlexMono-ExtraLight'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-100italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Thin Italic'), local('IBMPlexMono-ThinItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-100italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-200italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 200;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono ExtraLight Italic'), local('IBMPlexMono-ExtraLightItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-200italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-300 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-300italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Light Italic'), local('IBMPlexMono-LightItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-300italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono'), local('IBMPlexMono'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-regular.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Italic'), local('IBMPlexMono-Italic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-500 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Medium'), local('IBMPlexMono-Medium'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-500italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Medium Italic'), local('IBMPlexMono-MediumItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-500italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-600 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono SemiBold'), local('IBMPlexMono-SemiBold'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-600italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono SemiBold Italic'), local('IBMPlexMono-SemiBoldItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-600italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Bold'), local('IBMPlexMono-Bold'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Mono Bold Italic'), local('IBMPlexMono-BoldItalic'),
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/IBM_Plex_Mono/ibm-plex-mono-v2-latin-700italic.svg#IBMPlexMono') format('svg'); /* Legacy iOS */
}
